<IfModule mod_mime.c>
  # JavaScript
  AddType application/javascript js mjs
  AddType application/javascript jsx
  
  # CSS
  AddType text/css css
  
  # Images
  AddType image/svg+xml svg svgz
  AddType image/x-icon ico
  AddType image/webp webp
  
  # Fonts
  AddType font/woff woff
  AddType font/woff2 woff2
  AddType font/ttf ttf
  AddType font/otf otf
  AddType font/eot eot
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Enable CORS if needed
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>

